{{> fragments/header}}
    <div class="estela">
      <h1>¿Cómo se juega?</h1>
      <ul>
        <p>En este juego verás una figura grande en el centro de la pantalla. Esa figura tiene una forma (como un cuadrado o triángulo) y un color (como rojo o amarillo).</p>
        <p>El juego tiene dos modos diferentes, ¡y cada ronda puede cambiar!</p>
        <li>Modo 1 "Misma figura": Tienes que elegir entre varias opciones la figura que sea igual a la del centro. Eso significa que tiene la misma forma y el mismo color.</li>
        <li>Modo 2: "Mismo color": Aquí tienes que buscar la figura que tenga el mismo color que la del centro, pero no importa la forma.</li>
        <p>✅ Cada acierto suma +10 puntos ❌ Cada fallo resta -5 puntos ⏱️ ¡Tienes 10 rondas y 60 segundos para conseguir la mayor puntuación posible!</p>
      </ul>
      <div class="text-center">
        <a href="/juegos/figures" class="boton-jugar">Jugar</a>
      </div>
    </div>
  </div>
{{> fragments/footer}}

 