{{> fragments/header}}
    <div class="estela">
      <h1>Coordinate - ¿Cómo se juega?</h1>
      <ul>
        <p>¡Tu trabajo es calcular cuanta distancia hay entre el avión y la meta!</p>
        <li>¿Cómo calculamos la distancia?</li>
        <p>La distancia es como contar cuántos pasos necesita dar tu avión para llegar a la meta. Hay dos tipos de pasos:</p>
        <li>Pasos Rectos (arriba,abajo, izquierda o derecha): se corresponden con 10 metros.</li>
        <li>Pasos en Diagonal (como en cruz): se corresponden con 14 metros.</li>
        <p>Tu avión puede usar los dos tipos para llegar, y tú tienes que averiguar cuantos metros de distancia hay en total yendo por la ruta MÁS corta.</p>
      <p>✅ Cada acierto suma +10 puntos  ⏱️ ¡Tienes 90 segundos para conseguir la mayor puntuación posible!</p>
      </ul>
      <div class="text-center">
        <a href="/juegos/coordinate" class="boton-jugar">Jugar</a>
      </div>
    </div>
  </div>
{{> fragments/footer}}

 