{{> fragments/header}}
    <div class="estela">
      <h1>¿Cómo se juega?</h1>
      <ul>
        <p>En este juego, tienes que mirar un grupo de aviones y decidir si dos o más aviones van a chocar.</p>
        <p>Cada avión tiene una dirección (hacia dónde está mirando) llamada heading.</p>
        <p>Si dos aviones están enfrentados entre si (sus cabezas se miran fijamente), existe un conflicto y pueden chocar</p>
        <p>No habrá conflicto si dos aviones no están enfrentados entre si</p>
        <li>Ejemplo de conflicto: ➡️​ ⬅️</li>
        <li>ejemplo de NO conflicto: ⬆️​ ⬆️ - ⬆️​ ⬇️​​</li>
      </ul>
      <div class="text-center">
        <a href="headingconflicts" class="boton-jugar">Jugar</a>
      </div>
    </div>
  </div>
{{> fragments/footer}}
