{{> fragments/header}}
    <div class="estela">
      <h1>¿Cómo se juega?</h1>
      <ul>
        <p>Imagina que eres un piloto de avión y tienes que llegar hasta la meta. ¡Tu trabajo es calcular cuanta distancia hay entre los dos!</p>
        <li>¿Cómo calculamos la distancia?</li>
        <p>La distancia es como contar cuántos pasos necesita dar tu avión para llegar a la meta. Hay dos tipos de pasos:</p>
        <li>Pasos Rectos (arriba,abajo, izquierda o derecha): se corresponden con 10 metros.</li>
        <li>Pasos en Diagonal (como en cruz): se corresponden con 14 metros.</li>
        <p>Tu avión puede usar los dos tipos para llegar, y tú tienes que adivinar cuantos metros de distancia hay en total yendo por la ruta MÁS corta.</p>
      </ul>
      <div class="text-center">
        <a href="coordinate" class="boton-jugar">Jugar</a>
      </div>
    </div>
  </div>
{{> fragments/footer}}

 