{{> fragments/header}}
    <div class="estela">
      <h1>Radar Control - ¿Cómo se juega?</h1>
      <ul>
        <p>¡Piloto, tu misión es ayudar a los aviones a llegar a su meta!</p>
        <p>¿Cuál es tu objetivo🎯? Tienes que mover cada avión hasta su zona de color (su meta).</p>
        <li>El avión rojo va a la zona roja.</li>
        <li>El avión azul va a la zona azul.</li>
        <p>Cada avión tiene 4 botones, usa las flechas para mover el avión en la dirección correcta.</p>
        <p>¡Pero ten cuidado! Si un avión de un color pasa por la meta del color contratrio, será un fallo. Además si tus aviones se chocan, el juego terminará inmediatamente</p>
        <p>✅ Cada acierto suma +10 puntos ❌ Cada fallo resta -5 puntos ⏱️ ¡Tienes 90 segundos para conseguir la mayor puntuación posible!</p>
      </ul>
      <div class="text-center">
        <a href="/juegos/radarcontrol" class="boton-jugar">Jugar</a>
      </div>
    </div>
  </div>
{{> fragments/footer}}

 