{{> fragments/header}}
    <div class="estela">
      <h1>¿Cómo se juega?</h1>
      <ul>
        <p>¿Estás listo para poner a prueba tu atención y reflejos? En este juego tendrás que mirar, pensar... ¡y actuar rápido! </p>
        <p>Hay tres tipos de retos y todos suceden a la vez.</p>
        <li>Figuras: Mira las dos figuras que aparecen. Pulsa el botón adecuado para decir si son iguales o no.</li>
        <li>Operación Matemática: Lee la operación matemática. Pulsa si crees que es correcta o incorrecta.</li>
        <li>Sonido: Escucha con atención. Cuando suene el "¡BEEP!", pulsa la tecla ESPACIO lo más rápido posible.</li>
        <p>✅ Cada acierto suma +10 puntos ❌ Cada fallo resta -5 puntos ⏱️ ¡Tienes 90 segundos para conseguir la mayor puntuación posible!</p>
      </ul>
      <div class="text-center">
        <a href="multitask" class="boton-jugar">Jugar</a>
      </div>
    </div>
  </div>
{{> fragments/footer}}

 