{{> fragments/header}}
    <div class="estela">
      <h1>¿Cómo se juega?</h1>
      <ul>
        <li>Debes observar bien la figura del centro.</li>
        <li>Elige entre las opciones la figura correcta según la modalidad.</li>
        <li>Puede ser igual, o del mismo color pero diferente forma.</li>
        <li>Responde rápido, ¡tienes poco tiempo por ronda!</li>
        <li>Hay 10 rondas por partida.</li>
      </ul>
      <div class="text-center">
        <a href="figures" class="boton-jugar">Jugar</a>
      </div>
    </div>
  </div>
{{> fragments/footer}}

 