{{> fragments/header}}
<div class="perfil-container">
    <div class="perfil-card">

      <!-- Selector de avatar -->
      <div class="perfil-avatar-selector">
        <img src="images/nino.png" alt="Avatar chico" class="perfil-avatar-option" onclick="seleccionarAvatar('images/nino.png', 0)">
        <img src="images/nina.png" alt="Avatar chica" class="perfil-avatar-option" onclick="seleccionarAvatar('images/nina.png', 1)">
      </div>

      <!-- Avatar actual -->
      <img id="perfil-avatar" src="/images/nino.png" alt="Avatar seleccionado" class="perfil-avatar" />

      <h1 class="perfil-nombre" id="nombre-jugador">{{u.Username}}</h1>
      <button class="boton-cerrar-sesion" onclick="cerrarSesion()">Cerrar sesión</button>

      <div class="perfil-puntos-totales">Puntos totales: <span id="puntos-totales">0</span></div>

      <h2 class="perfil-subtitulo">Máxima puntuación por juego</h2>
      <div class="perfil-puntuaciones">
        <div class="perfil-box"><strong>Coordinate:</strong> <span id="score-coordenadas">{{coordinate}}</span></div>
        <div class="perfil-box"><strong>Heading Conflicts:</strong> <span id="score-heading">{{hconflicts}}</span></div>
        <div class="perfil-box"><strong>Radar Control:</strong> <span id="score-radar">{{rcontrol}}</span></div>
        <div class="perfil-box"><strong>Multitask:</strong> <span id="score-multitarea">{{multitask}}</span></div>
        <div class="perfil-box"><strong>Figures:</strong> <span id="score-figuras">{{figures}}</span></div>
      </div>
    </div>
  </div>

  <script src="/js/api.js"></script>
  <script>
  function seleccionarAvatar(ruta, boolean) {
    document.getElementById('perfil-avatar').src = ruta;
    document.getElementById('img-perfil').src = ruta;
    enviar("/user/avatar/{{u.Username}}/"+boolean, null, "PUT");
  }

  function cerrarSesion() {
    document.cookie = "username=; path=/; max-age=0";
    window.location.href = "/";
  }
  let ruta;
  if({{u.Avatar}}){
    ruta = '/images/nina.png'
  }
  else{
    ruta = '/images/nino.png'
  }
  document.getElementById('perfil-avatar').src = ruta;
  document.getElementById('img-perfil').src = ruta;
</script>

{{> fragments/footer}}