{{> fragments/headerIniJuegos}}
  <main class="contenedor-botones">
    <div class="fila-superior">
      <button class="boton-juego" onclick="location.href='/juegos/instruccionesCoord'">✈️ Coordinate</button>
      <button class="boton-juego" onclick="location.href='/juegos/instruccionesHC'">🛩️​ Heading Conflicts</button>
      <button class="boton-juego" onclick="location.href='/juegos/instruccionesRC'">​🧑‍✈️ Radar Control</button>
    </div>
    <div class="fila-inferior">
      <button class="boton-juego" onclick="location.href='/juegos/instruccionesMT'">🚀 Multitask</button>
      <button class="boton-juego" onclick="location.href='/juegos/instruccionesF'">🟦​ Figures</button>
    </div>
  </main>
{{> fragments/footer}}
