<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SkyTest Kids</title>
  <link rel="stylesheet" href="styles.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
</head>
<body class="fondo-imagen">
  <nav class="navbar">
    <h1>✈️ SkyTest Kids ✈️</h1>
  </nav>

  <main class="contenedor-botones">
    <div class="fila-superior">
      <button class="boton-juego" onclick="location.href='juego1.html'">✈️ Juego 1</button>
      <button class="boton-juego" onclick="location.href='juego2.html'">✈️ Juego 2</button>
      <button class="boton-juego" onclick="location.href='juego3.html'">✈️ Juego 3</button>
    </div>
    <div class="fila-inferior">
      <button class="boton-juego" onclick="location.href='juego4.html'">✈️ Juego 4</button>
      <button class="boton-juego" onclick="location.href='juego5.html'">✈️ Juego 5</button>
    </div>
  </main>

  <footer>
    <p>&copy; 2025 SkyTest Kids</p>
  </footer>
</body>
</html>
