{{> fragments/headerIniJuegos}}
  <main class="contenedor-botones">
    <div class="fila-superior">
      <button class="boton-juego" onclick="location.href='instruccionesCoord'">✈️ Coordinate</button>
      <button class="boton-juego" onclick="location.href='instruccionesHC'">🛩️​ Heading Conflicts</button>
      <button class="boton-juego" onclick="location.href='instruccionesRC'">​🧑‍✈️ Radar Control</button>
    </div>
    <div class="fila-inferior">
      <button class="boton-juego" onclick="location.href='instruccionesMT'">🚀 Multitask</button>
      <button class="boton-juego" onclick="location.href='instruccionesF'">🟦​ Figures</button>
    </div>
  </main>
{{> fragments/footer}}
