{{> fragments/header}}
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="ranking-container">
        <div class="ranking-title">🏆 Ranking de Jugadores 🏆</div>
          <!-- Aquí se insertarán los jugadores -->
          <table id="myTable" class="ranking-list">
            <th>Usuario</th>
            <th id="btn-1" onclick="sortTable(1)">Coordinate</th>
            <th id="btn-2" onclick="sortTable(2)">Figures</th>
            <th id="btn-3" onclick="sortTable(3)">Heading Conflicts</th>
            <th id="btn-4" onclick="sortTable(4)">Multitask</th>
            <th id="btn-5" onclick="sortTable(5)">Radar Control</th>
          {{#listaUsuarios}}
          <tr>
              <td class="ranking-name">{{username}}</td>
              <td class="ranking-score">{{maxCoordinate}}</td>
              <td class="ranking-score">{{maxFigures}}</td>
              <td class="ranking-score">{{maxHConflicts}}</td>
              <td class="ranking-score">{{maxMultitask}}</td>
              <td class="ranking-score">{{maxRControl}}</td>
          </tr>
          {{/listaUsuarios}}
          {{^listaUsuarios}}
          <td>-</td>
          <td>-</td>
          {{/listaUsuarios}}
          </table>
      </div>
    </div>
  </div>
</div>


<script>
  function sortTable(element) {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("TD")[element];
        y = rows[i + 1].getElementsByTagName("TD")[element];
        if (Number(x.innerHTML) < Number(y.innerHTML)) {
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
    let cols = [1, 2, 3, 4, 5];

    for (let col of cols) 
      document.getElementById("btn-" + col).style.fontWeight = 400;
    
      document.getElementById("btn-" + element).style.fontWeight = 800;
  }

  window.onload = function () {
    sortTable(2); 
  };
</script>
{{> fragments/footer}}
